<main>
  <div class="middle" id="heading">
    <h1><%= dateString %></h1>
  </div>
  <div class="middle" id="table">
    <% for (let i = 0; i < items.length; i++) { %>
        <div class="item">
            <input type="checkbox" />
            <p><%= items[i] %></p>
        </div>
    <% } %>
    <form action="/" method="post" class="item">
      <input
        type="text"
        name="todayItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit">+</button>
    </form>
  </div>
</main>
